
@model IEnumerable<E_ticaret.Models.marka>

@foreach (var item in Model)
{
    <span>  </span>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">@Html.ActionLink(@item.marka_adi, "MarkaicinListe", new { id = item.marka_id })</h4>
        </div>
    </div>
}



